html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 15px;
	overflow: hidden;
	background-color: #A1E8AF;
	font-variant: small-caps;
	height: 30px;
}
li.navbar {
	float: right;
	font-size: 30px;
}

/* .top {
	padding-top:10px;
	margin-top: 10px;
} */

.signup{
	text-align: center;
}
li.logo {
	float: left;
	font-size: 40px;
	font-variant: small-caps;
	letter-spacing: 4px;
}

li a {
	display: block;
	color: #372772;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
li.navbar a:hover {
	background-color: #94C595;
	color: #3A2449;
	text-shadow: #3A2449 1px 1px 1px;
	text-decoration: underline; /*Figure out how to make it an animation: */
	/*animation:*/
}

select {
	float: left;
	height: 29px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

select.form {
	display: inline;
}

.boxed {
	border: 2px solid #372772;
	padding: 20px;
}
.textt {
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 2px solid #3A2449;
	width: 600px;
}

.text {
	margin-top: 20px;
	text-align:center;
	text-emphasis-color: black;
	font-size: 50px;
	padding-left: 20px;
	background-color: whitesmoke;
}

.slogen{
	padding:1px;
	font-size:20px;
}

input {
	height: 28px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
}

input.submit {
	height: 30px;
	margin-left: 265px;
}

.results {
	font-size: 20px;
	padding-left: 20px;
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}
label{
	font-size:18px;
	vertical-align: middle;
  }
  #b{
	background-color:#94C595;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:28px;
	border:1px solid #94C595;
	display:inline-block;
	cursor:pointer;
	color:#3A2449;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:15px;
	padding:10px; 
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#b:hover{
	 background-color:#5cbf2a;

}
#b2{
	background-color:#94C595;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #94C595;
	display:inline-block;
	cursor:pointer;
	color:#3A2449;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:15px;
	padding:10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#b2:hover{
	 background-color:#5cbf2a;

}

#wrapper{
	width:200px;
	height:200px;

	padding:2%;
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
}
#body{
	display: table;
}
  
input[type="radio"]{
	vertical-align: middle;
  }
div.Pre {
	padding-left: 165px;
}